table{
    margin-top: 5em;
}

thead tr th{
    text-align: center;
}

tbody tr td{
    font-weight: bold;
    text-align: center;
}

.imagen-carrito{
    width: 10em;
    height: 10em;
}

.boton-eliminar{
    width: 3em;
    height: 3em;
}

.icono-eliminar{
    font-size: 1.5em;
}

.boton-vaciar{
    margin: 2em;
}