.contenedor-item-detalle{
    border: solid 2px red;
    width: 50%;
}

.contenedor-padre-item-detalle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-item img{
    width: 300px;
    height: 300px;
    padding: 1em;
}

.contenedor-item-detalle h3{
    font-weight: bold;
    text-align: center;
    border-top: black solid 1px;
    margin: 0.5em 0 0.5em 0;
    padding-top: 0.5em;
    text-decoration: underline black;
}

.contenedor-item-detalle div p {
    text-align: center;
    font-weight: bold;
}

.seccion-talles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-top: 1px solid rgb(182, 182, 182);
    margin: 0.5em 0 1em 0;
    padding-top: 0.5em;
}

.seccion-talles div{
    display: flex;
    flex-flow: row nowrap;
}

.boton-talle{
    background-color: white;
    border-radius: 3%;
    padding: 0.5em;
    border: 1px solid rgba(255, 0, 0, 0.404);
    margin: 1em 0.5em 1em 0.5em;
    width: 3em;
    transition: all 400ms;
}

.boton-talle:hover{
    transform: scale(1.1);
    transition: all 400ms;
}

.contador-item-detalle{
    padding: 1em;
}

.contador-item-detalle button{
    transition: all 500ms;
}

.contador-item-detalle button:hover{
    transform: scale(1.1);
    transition: all 500ms;
}

.precio-item{
    font-size: 20px;
    color: green;
    border: 1px solid green;
    width: 100%;
    text-align: center;
}

.boton-terminar-compra{
    background-color: green;
    border-radius: 3%;
    color: white;
    padding: 0.5em;
    border: 1px solid rgb(32, 80, 32);
    width: 100%;
}
