.encabezado{
    background-color: rgba(128, 128, 128, 0.13);
    width: 100%;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.sub-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sub-menu a{
    color: red !important;
    font-size: 20px;
    transition: all 400ms;
    margin: 0.5em;
    text-align: center;
}

.sub-menu a.disabled{
    color: gray !important;
}

.sub-menu a:hover{
    transform: scale(1.1);
    transition: all 400ms;
}

.menu-desplegable a{
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
    padding: 0;
}

.activo{
    background-color: grey;
    font-weight: bold;
}